html{
    font-size:21px !important;
}
h1{
    font-size:55px !important;
}
#nav-btn-login{
    border: 2px solid #3986FD;
    color: #3986FD;
    height: 3.3vh;
    background-color:white;
}
#nav-btn-signup{
    background-color:#3986FD ;
    color:white;
    height: 3.3vh;
}
.nav-link{
    color:black;
}
@media screen and (max-width: 480px) {
    #home-image {
        display: none !important;
    }
    #home-text {
        text-align: center !important;
    }
    .benefits2{
        text-align: center !important;
    }
    .benefits1{
       margin-left:0 !important;
    }
    #benefits{
        background:#D5EFF2 !important;
        height: 74em !important;
        margin-bottom: 3em;
    }
    #footer-center{
        margin-left:0 !important;
    }
    .footer1{
        text-align: center !important;
    }
}
#benefits{
    background-image: linear-gradient(#D5EFF2,#D7F0F3,white);
    height: 30em;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
h6{
    color: #B7B7B7;
}
a{
    color:#fff;
    text-decoration: none;
}


