{% extends "base.html" %}

{% block main %}
<div class="d-flex align-items-center justify-content-center" style="height:90vh;">
    <div class="h-60 w-56" id="Chatbody" style="background-color: #1983FF;">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <img class="chatbubble mt-3 ml-3" src="{{url_for('static', filename='images/chati.png')}}">
                <h1 class="mt-4 ml-1" style="font-size:18px; font-weight: 800;">DoC Chatbot</h1>
            </div>
            <img class="chatbubble mt-3 mr-4" src="{{url_for('static', filename='images/profile.png')}}">
        </div>
        <div class="d-flex justify-content-between">
            <div id="icon-area">
                <img id="bot-image" src="{{url_for('static', filename='images/chatbot.gif')}}">
                <p>@CompBot</p>
                <p>Hi<i style="height:20px;width:20px;"class="em em-wave" aria-role="presentation" aria-label="WAVING HAND SIGN"></i>, I'm CompBot, your computing chatbot.<i style="height:20px;width:20px;" class="em em-computer" aria-role="presentation" aria-label="PERSONAL COMPUTER"></i></p>
            </div>
            <div id="chatspace" class="p-3 mb-2 bg-white text-dark">
                <div id="chatarea">
                    <div class="msg-list">
                        <div class="messenger-container">
                            <p>Hi, my name is CompBot</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="msg-list">
                        <div class="messenger-container">
                            <p>I'm a friendly AI, here to chat with you about the computing department 24/7</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="msg-list">
                        <div class="messenger-container">
                            <p>Type your messsage in the textbox below and we can start talking to each other</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="formdata">
                        <div class="input-group mb-3">
                            <input type="text" id="userinput" name="userinput" class="form-control" placeholder="Ask me a question !"  aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button id="Send" src="{{url_for('static', filename='images/buttoni.png')}}" type="submit"><img id="buttoni" src="{{url_for('static', filename='images/buttoni.png')}}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}