<div id="footer" style="padding-bottom:1em; padding-top:1em; color:white; background-color:#002969;">
    <div class="container text-center">
        <div id="footer-center" class="row" style="margin-left:5em;">
            <div class="footer1 text-start col-sm mt-5">
                <h6>Business Data</h6>
                <a href="">About Us</a> <br>
                <a href="">Resources</a> <br>
                <a href="">Privacy Policy</a>
            </div>
            <div class="footer1 text-start col-sm mt-5">
                <h6>Office</h6>
                <p>UWI MONA <br>Mona, Kingston</p>
            </div>
            <div class="footer1 text-start col-sm mt-5">
                <h6>Contact Us</h6>
                <a href="">Contact Form</a>
                <p>Tel: 8763588782 <br>NexTechSolutions@gmail.com</p>
            </div>
            <div class="footer1 text-start col-sm mt-5">
                <h6>Social Media</h6>
                <img src="{{url_for('static', filename ='images/facebook1.png')}}" class="" alt="facebook icon" width="" height="">
                <img src="{{url_for('static', filename ='images/instagram.png')}}" class="" alt="instagram icon" width="" height="">
                <img src="{{url_for('static', filename ='images/linkedin.png')}}" class="" alt="linkedin" width="" height="">
            </div>
        </div>
        <br>
        <p>Copyright &copy; 2022 NexTechSolutions. All rights reserved.</p>
  </div>
</div>
