<div class="d-flex justify-content-between pt-1 border-top border-2">
    <p class="fw-bold">© 2021 NextTech Solutions. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-linkedin"></i></a></li>
    </ul>
</div>
