<div class ="FooterArea fixed-bottom">
    <p id="CopyrightMessage">Copyright &copy; NexTech sloutions. All rights reserved.</p>
    <div class="FooterImages">
        <img class="FImage" src="{{url_for('static', filename='images/facebook.png')}}" alt="Card image cap">
        <img class="FImage" src="{{url_for('static', filename='images/instagram.png')}}" alt="Card image cap">
        <img class="FImage" src="{{url_for('static', filename='images/twitter.png')}}" alt="Card image cap">
        <img class="FImage" src="{{url_for('static', filename='images/linkedIn.png')}}" alt="Card image cap">
    </div>
</div>