<nav class="navbar navbar-expand-sm fixed-top">
  <div class="nav-left"
    <a class="navbar-brand" href="#"><img class="Logo" src="{{url_for('static', filename='images/logo.png')}}" alt="NexTech Solutions Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="nav-right">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">Meet the Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="LoginButton" href="{{ url_for('about') }}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>