<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="{{url_for('home')}}">
      <img class="img-fluid" src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="50%">
    </a>
    <button class="navbar-light bg-light navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-light bg-light navbar-toggler-icon"></span>
    </button>

    <div class="ms-3 collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active me-2" aria-current="page" href="{{url_for('home')}}">Home</a>
        <a class="nav-link active me-2" href="#">How it Works</a>
        <a class="nav-link active me-2" href="#">Meet the Team</a>
        <form class="mt-1">
          <div class="btn-group">
          <button id="nav-btn-login" class="d-inline-flex align-items-center btn-default fw-bold px-4 me-3 rounded-3" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        </div>
        </form>
        <form class="mt-1">
          <button id="nav-btn-signup" class="d-inline-flex align-items-center btn-default fw-bold px-3 border-0 rounded-3" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">Sign up</button>
        </form>
      </div> 
    </div>
  </div>
</nav>

<!-- Login Modal -->
<div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title fw-bold" id="loginModalLabel">Login to access CompBot</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-5">
                      <label for="email" class="form-label fw-bold">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text text-dark mb-3">We'll never share your email with anyone else.</div>
                  <div class="mb-4">
                      <label for="password" class="form-label fw-bold">Password</label>
                      <input type="password" class="form-control" id="password">
                  </div>
                  <button style="margin-bottom: -30px" class="w-100 btn btn-lg rounded-4 btn-primary" type="submit">Continue</button>
              </form>
          </div>
      </div>
  </div>
</div>