{% extends "base.html" %}

{% block main %}
<section class="bg-primary overflow-hidden">
    <div class="container col-xxl-8 px-4 pb-4">
        <div class="row flex-lg align-items-center g-5 pb-4">
            <div class="col-lg-4">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    CompBot, The Faculty of Science & Technology's AI Chatbot
                </h1>
                <p style="color: #fff; font-weight: 400;" class="lead">
                    The CompBot project is a chatbot focused on giving students 
                    information about the faculty of science and technology. 
                    It is a great tool to use when students have questions about 
                    the faculty without the hassle of sending a plethora of emails 
                    or going in person to speak to someone from the faculty.
                </p>
            </div>
            <div class="col-10 col-sm-8 col-lg-4">
                <img src="{{url_for('static', filename ='images/bootstrap-themes.png')}}" class="d-block mx-lg-auto img-fluid" alt="CompBot Illustration" width="1000" height="500">
            </div>
            <div class="col-lg-4">
                <h1 class="display-6 fw-bold lh-1 mb-4 text-nowrap text-center">Have a question ?</h1>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center">
                    <button type="button" class="btn btn-light btn-lg px-4">Let's Chat</button>
                    <button type="button" class="btn btn-dark btn-lg px-4">Get Help</button>
                </div>
                <p style="color: #fff; font-weight: 400;" class="mt-3 lead text-center">
                    We care about protecting your data.
                    <br/>
                    Here's our <span style="color: #000; font-weight: 700;">Privacy Policy.</span>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="album my-4 py-5 bg-light">
    <div class="container">
        <h1 class="fs-3 fw-bold lh-1 mb-4 text-nowrap text-center">HOW IT WORKS</h1>
        <h1 class="fs-2 fw-bold lh-1 mb-5 text-nowrap text-center">BEST FEATURES TO HELP YOU</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            <div class="col">
                <div class="card shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-5 bi bi-smartwatch my-3" style="margin: auto; width: 40%; height: 100%" fill="#0d6efd" viewBox="0 0 16 16">
                        <path d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5V5z"/>
                        <path d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667zM4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3z"/>
                    </svg>
                    <div class="card-body">
                        <p class="card-text text-center">Answer questions related to the faculty in a timely manner giving a human-like response.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-5 bi bi-chat-left-text my-3" style="margin: auto; width: 40%; height: 100%" fill="#0d6efd" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <div class="card-body">
                        <p class="card-text text-center">Save user data so it can start chatting with users right where they left off.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-5 bi bi-question-octagon my-3" style="margin: auto; width: 40%; height: 100%" fill="#0d6efd" viewBox="0 0 16 16">
                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                    <div class="card-body">
                        <p class="card-text text-center">Save questions / statements and learn from them so it can use them in the future</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-envelope-check my-3" style="margin: auto; width: 40%; height: 60%" fill="#0d6efd" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                      </svg>
                    <div class="card-body">
                        <p class="card-text text-center">Notify administrator for questions that cannot be answered. Admin will respond to these directly via email.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="loginModalLabel">Login to access CompBot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-5">
                        <label for="email" class="form-label fw-bold">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-dark mb-3">We'll never share your email with anyone else.</div>
                    <div class="mb-4">
                        <label for="password" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button style="margin-bottom: -30px" class="w-100 btn btn-lg rounded-4 btn-primary" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}