{% extends "base.html" %}


{% block main %}
<section class="overflow-hidden">
    <div class="container1 w-100">
        <div class="align-items-center">
            <img id="Collaboration" src="{{url_for('static', filename ='images/collab.png')}}" class="img-fluid" alt="Collaboration Image" max-width="100%" height="auto">
        </div>

        <div class="row flex-lg align-items-center pb-4 p-5 position-relative">
                <!-- <p class="position-absolute top-1 start-1 translate-middle" style="color: #1983FF; font-size: larger; font-weight: bolder;">"</p>
                <p class="position-absolute top-1 end-1" style="color: #1983FF; font-size: larger; font-weight: bolder;">"</p>
                <p class="position-absolute bottom-1 start-1" style="color: #1983FF; font-size: larger; font-weight: bolder;">"</p>
                <p class="position-absolute bottom-1 end-1" style="color: #1983FF; font-size: larger; font-weight: bolder;">"</p>
                <p class="position-absolute bottom-50 end-50" style="color: #1983FF; font-size: larger; font-weight: bolder;">"</p> -->

                <p class="lead w-80 p-5 text-xl-start" style="color: #1983FF; font-weight: 400;">
                    <strong>Meet NexTech Solutions!</strong> We are a group of finalizing Computer Science Students at the University of the West Indies. 
                    The team is made up of Michel Davies, Kabian Davidson, Kadian Davidson and Patrece Campbell.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit 
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
        </div>

        <div class="pb-4 p-5 w-100" style="background-color: #141333; text-align: center;">
            <h1 class="p-5" style="color: white; font-weight: bolder; size: 500px;">MEET THE TEAM</h1>
        </div>
        
        <div class="container">
            <div class="row p-5">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename ='images/Michel.png')}}" class="img-fluid mt-5" id="BioImage" alt="Picture of Michel"/>
                </div>
                <div class="col-md-8 p-5 mb-5" id="Bio">
                    <h3>Michel Davies</h3>
                    <br>
                    <h4>Aspiring Web Developer & UI/UX Designer</h4>
                    <br>
                    <p class="" style="color: white;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea.
                    </p>
                    <br>
                    <h5>micheldavies0288@gmail.com</h5>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-8 p-5 mb-5" id="Bio">
                    <h3>Kabian Davidson</h3>
                    <br>
                    <h4>Aspiring System Developer</h4>
                    <br>
                    <p class="" style="color: white;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea.
                    </p>
                    <br>
                    <h5>kabiand@gmail.com</h5>
                </div>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename ='images/Kabian.png')}}" class="img-fluid mt-5" id="BioImage" alt="Picture of Kadian"/>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename ='images/Kadian.png')}}" class="img-fluid mt-5" id="BioImage" alt="Picture of Kadian"/>
                </div>
                <div class="col-md-8 p-5 mb-5" id="Bio">
                    <h3>Kadian Davidson</h3>
                    <br>
                    <h4>Aspiring Project Manager</h4>
                    <br>
                    <p class="" style="color: white;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea.
                    </p>
                    <br>
                    <h5>kadiidavidson@gmail.com</h5>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-8 p-5 mb-5" id="Bio">
                    <h3>Patrece Campbell</h3>
                    <br>
                    <h4>Aspiring Web Developer</h4>
                    <br>
                    <p class="" style="color: white;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea.
                    </p>
                    <br>
                    <h5>patrececampbell2021@gmail.com</h5>
                </div>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename ='images/Patrece.jpg')}}" class="img-fluid mt-5" id="BioImage" alt="Picture of Patrece"/>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="album my-3 py-3">
    <div class="container">

    </div>
</div>


<!-- Login Modal -->
<div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="loginModalLabel">Login to access CompBot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-5">
                        <label for="email" class="form-label fw-bold">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-dark mb-3">We'll never share your email with anyone else.</div>
                    <div class="mb-4">
                        <label for="password" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button style="margin-bottom: -30px" class="w-100 btn btn-lg rounded-4 btn-primary" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}